*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: sans-serif;
    background: #fff;
    background-color: #293681;
}

.navbar{
    width: 100%;
    height: 80px;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    border-bottom: 1px solid #eee;

}


.logo a{
    text-decoration: none;
    color:#fff;
    font-size: 32px;
    font-weight: 700px;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 45px;
}

.nav-links a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    transition: 3s;
}

.nav-links a:hover{
    color: #95CCDD;
}

.nav-right{
    display:flex;
    align-items: center;
    gap: 35px;
}

.nav-right a{
    display:flex;
    align-items: center;
    gap: 8px;

    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    transition: 3s;
}

.nav-right a:hover{
    color:#95CCDD;
}

.language .fa-chevron-down{
    font-size:12px;
}


@media(max-width:900px){
    .navbar{
        padding:20px;
        flex-wrap: wrap;
        height: auto;
        gap: 20px;
    }
    .logo{
        width: 100%;
        align-items: center;
    }

    .nav-links{
        width: 100%;
        justify-content: center;
    }

    .logo a{
        font-size: 20px;
    }
}




.playlist{
    padding: 30px;
}
.container{
    padding: 50px;
    display: flex;
    background-color: #95CCDD;
    justify-content: center;
    align-items: center;
    margin: 50px
}
h2{
    padding: 16px;
}

form{
    padding: 24px;
}

.btn{
    height: 44px;
    width: 80px;
    padding: 5px;
    border-radius: 10px;
}


.url{
    height: 44px;
    border-radius: 5px;
}

.btn:hover{
    background-color: black;
    color: #fff;
    
}




